/* Mapa de colores */
$Colores_pagina: (

"primero":#0D2633,
"segundo": #234455,
"tercero":#4A6D80,
"cuarto":#B7E6FF,
"quinto":#7F9BAA,
"sexto":#BCCCD5

);
body{
    background-color: map-get($map: $Colores_pagina, $key: "tercero");
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}
.header{
    grid-column: 1/4;
    grid-row: 1;
}

.services{
grid-column: 1;
grid-row: 2/3;
}

.gallery{
grid-column: 2/4;
grid-row: 2/3;
display: grid;
}

.footer{
grid-column: 1/4;
grid-row: 4;  
}

//Menú
#menu ul {
    list-style:none;
    margin:0;
    padding:0;
   }
   
   /* items del menu */
   #menu ul li {
    background-color:#2e518b;
   }
   
   /* enlaces del menu */
   #menu ul a {
    display:block;
    color:#fff;
    text-decoration:none;
    font-weight:400;
    font-size:15px;
    padding:10px;
    font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform:uppercase;
    letter-spacing:1px;
   }
   
   /* items del menu */
   #menu ul li {
    position:relative;
    float:left;
    margin:0;
    padding:0;
   }
   
   /* efecto al pasar el ratón por los items del menu */
   #menu ul li:hover {
    background:#5b78a7;
   }


